doctype
html( lang="pl" )
    head
        title Anonimowe Mirko Wyznania
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Anonimowe Mirko Wyznania' )
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/sweetalert.css", rel="stylesheet")
        link(rel="icon", type="image/png", href="images/pepe.png")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        body
          include ./menu.jade
          .container
            block content
        block script
